{
    "anat": "testdata/t1.nii.gz",
    "freesurfer": "testdata",
    "tractogram": "testdata/track.tck",
    "wmc": "testdata/classification.mat"
    "spagettiFlag": True,
    "fingerprintFlag": True,
    "tileFlag": True,
    "gifFlag": True
    
}
